/*
  Display code blocks at a max of 10 root line heights
  but allow them to be resized beyond that. (This CSS trick,
  courtesy of Alberto Collado, is based on the fact that
  when an element is being vertically resized its height
  attribute is set.
  (See https://stackoverflow.com/a/60286469)
*/
code {
  max-height: 10rlh;
  overflow: scroll;
  resize: block;
}
code[style*="height"] {
  max-height: unset;
}

pre code.hljs {
	padding: 0;
}

.hljs {
  background-color: var(--background-alt);
}
