.Footer {
  grid-area: footer;
  text-align: center;
  font-style: italic;
  padding: 1em;
  margin-top: 2em;
  border-top: 2px solid var(--border);
}

.Footer p {
  margin: 0;
}

.Footer p:first-of-type {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.Footer #funding-link {
  margin: 0.75em 0;
  font-size: 1.25em;
}
