/*
  Display code blocks at a max of 10 root line heights
  but allow them to be resized beyond that. (This CSS trick,
  courtesy of Alberto Collado, is based on the fact that
  when an element is being vertically resized its height
  attribute is set.
  (See https://stackoverflow.com/a/60286469)
*/
code {
  max-height: 10rlh;
  overflow: scroll;
  resize: block;
}
code[style*="height"] {
  max-height: unset;
}

pre code.hljs {
	padding: 0;
}

.hljs {
  background-color: var(--background-alt);
}


input[type="input"], input[type="password"], input[type="url"] {
  width: 100%;
}

button {
  min-width: 12ch;
  margin-right: 0;
}

button:not(:first-of-type) {
  margin-left: 6px;
}

button.long {
  width: 50%;
  margin-top: 0;
}

.buttons {
  display: flex;
}

.secret, .public, .evergreenWeb, form[name="deploy"] {
  display: flex;
  justify-content: space-between;
}

.public pre {
  margin-top: 0.25em;
  margin-bottom: 0;
  width: 100%;
}

.snug {
  margin-top: 0.25em;
}

.runMode, .developmentMode, .runningLatest, .update, .danger {
  background-color: var(--background-alt);
  display: inline-block;  /* Constrain background highlight to text width. */
  padding: 0.5em 1em;
  margin-left: -1em;      /* Offset background highlight so text is flush left. */
  margin-top: -0.25em;
}

.error {
  background-color: red;
  color: white;
}

#deploy-status {
  padding: 0.5ch;
  border-radius: 0.5em;
}


.danger {
  display: block;
  & h3 {
    margin-top: 0;
  }
}

.update {
  display: block; /* Override: Do not constrain background to text width. */

  & p {
    margin-top: 0;
  }
}

.smallStatusButton {
  min-width: 8em;
}

label[for="4042307"] {
  font-weight: bold;
}

#info {
  background-color: var(--background-alt);
  padding: 1em 1em 0.25em 1em;
  margin-left: -1em;
  margin-right: -1em;
  border-radius: 1em;

  & h2 {
    margin-top: 0;
  }
}

#uploads-list {
  padding: 0.25em 1em 0.25em 0;
  background-color: var(--background-alt);
}

#uploads-list img.uploadThumbnail {
  width: 3em;
  margin-right: 1em;
  vertical-align: middle;
}

#uploads-list ul {
  list-style-type: none;
  max-height: 9lh;
  overflow-y: scroll;
  padding: 0 1em;
  resize: block;
}
/* Allow manual resize past max-height. */
#uploads-list ul[style*="height"] {
  max-height: unset;
}

#uploads-list ul li {
  padding: 0.25em 0;
  margin: 0.25em 0;
}

#uploads-list ul li:nth-of-type(2n) {
  background-color: var(--background);
}

#uploads-list ul li a {
  
}

@media only screen and (max-width: 832px) {
  #info { border-radius: 0; }
}
