/*
 Styles for the Settings screen.
*/
:root {
  --accessible-deep-pink: #e5007c;
}

pre, input[type="input"], input[type="password"] {
  background-color: var(--background-alt);
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-word;
}

input[type="input"], input[type="password"], input[type="url"], input[type="file"] {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.runMode, .developmentMode, .runningLatest, .update, .danger {
  background-color: var(--background-alt);
  display: inline-block;  /* Constrain background highlight to text width. */
  padding: 0.5em 1em;
  margin-left: -1em;      /* Offset background highlight so text is flush left. */
  margin-top: -0.25em;
}

.danger {
  display: block;
  & h3 {
    margin-top: 0;
  }
}

.important {
  background-color: deeppink;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
  font-weight: bold;
}

.DevelopmentMode {
  background-color: var(--background-alt);
  position:absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
  left: 0;
  top:0;
}

p.DevelopmentMode + header {
  margin-top: 1rem;
}

#application {
  display: grid;
  grid-template-areas:
    'title          title         '
    'navigation     main          '
    'footer         footer        ';
  grid-template-rows: 1fr fit-content(100%);
  grid-template-columns: fit-content(100%) 1fr;

  /* On narrower screens, use one-column layout. */
  @media screen and (max-width: 660px) {
    grid-template-areas:
      'title'
      'navigation'
      'main'
      'footer';
  }
}

#settings-title {
  font-size: 2em;
  grid-area: title;
  text-align: center;
  margin-bottom: 1em;

  & h1 {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    font-weight: 400;
  }

  & img {
    width: 6rem;
  }
}

p:has(button[name=hideWelcomeMessage]) {
  text-align:center;
}

main {
  grid-area: main;
  padding-left: 1.75em;

  /* On narrower screens, reset left padding. */
  @media screen and (max-width: 660px) {
    padding-left: 1em;
  }
}

/*
 Optical adjustment: align baselines of titles in navigation
 and page in two-column layout (wider viewports).
*/
@media screen and (min-width: 661px) {
  main > h2 {
    margin-top: 0.15em;
  }
}
