#welcome-message {
  background-color: var(--background-alt);
  padding: 1em 1em 0.25em 1em;
  margin-left: -1em;
  margin-top: -.75em;
  margin-bottom: 1em;
  border-radius: 1em;

  & h2 {
    margin-top: 0;
  }

  @media screen and (max-width: 660px) {
    margin-top: 2em;
  }
}
