body {
	max-width: 640px;
	margin: 0 auto;
	padding: 1em;
	font-family: sans-serif;
}

ul {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

li {
	list-style-type: none;
}

img {
	max-height: 20vh;
}

input {
	width: 100%;
	margin-bottom: 1em;
}

button {
	padding: 0.5em 1em;
	display: block;
	margin: 0 auto;
}

footer {
  text-align: center;
}
