:root {
  --colour-highlight-offset: -20;

  @media (prefers-color-scheme: dark) {
    --colour-highlight-offset: 20;
  }
}

body {
  margin: 0;
  padding: 0;
}

pre {
	background: #fafafa;
	margin-top: 0;
	padding-top: 0.5em;
  text-align: left;
  font-size: 1rem;
  white-space: pre-wrap;

  @media (prefers-color-scheme: dark) {
    background: #00211f;
  }
}

#stage {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr min-content min-content; 
  gap: 1em 0;
  align-items: center;
  justify-items: center;

  grid-template-areas: 
    "character"
    "controls"
    "details";
  width: 100dvw;
  height: 100dvh;
  position: absolute;
}

#toast.settling { opacity: 1; top: 4.5em; }

#toast {
  position: absolute;
  opacity: 0;
  top: 0;
  text-align: center;
  right: 1em;
  transition: all 0.3s ease-out;
  border-radius: 0.5em;
  background-color: deeppink;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  z-index: 1;
}

#the-character {
  grid-area: character;
}

/**
  Implementing the grid-based auto height animation technique
  courtesy of https://nemzes.net/posts/animating-height-auto/

  A huge thank you to Nelson Menezes.
*/
.detailTab {
  display: block;
  visibility: hidden;
  width: 100%;
  margin-right: -100%;
  border-top: 0;
}

.detailTab.active {
  visibility: visible;
}

.detailTab:nth-of-type(2) pre {
  margin-left: -2em;
}

#detail-tabs {
  min-width: 100%;

  .tabs {
    display: flex;
    border-left: 2px solid lightblue;
    border-right: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-radius: 0 0 6px 6px;
  }

  ul {
    text-align: left;
    border-bottom: 2px solid lightblue;
    padding-left: 0;
    margin-bottom: 0;
  }

  li:not(ol > li) {
    display: inline-block;
    margin-left: 0.25em;
  }

  li:first-of-type {
    margin-left: 0;
  }


  li button:focus {
    box-shadow: inset 0 0 1em hsl(from lightblue h s calc(l + 7));
  }

  li button[aria-selected='true']:focus {
    box-shadow: unset;
    text-shadow: 1px 0px 0px black;
  }

  li button[aria-selected='true'] {
    background-color: lightblue;
    color: black;
  }

  li:not(ol > li) button {
    font-family: inherit;
    font-size: 1em;
    border: none;
    background-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    color: var(--text-muted);
    border-radius: 0.25em 0.25em 0 0;
  }

  ol {
    padding-left: 2em;
  }

  .copyButton {
    font-size: 1rem;
    margin-right: 0;
    padding: 0.25em 0.5em;
  }
}

#details-drawer {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 600px;
  grid-area: details;
  display: grid;
  transition: grid-template-rows 0.9s;
  overflow: hidden;
}

#details-drawer > div {
  min-height: 0;
}

.copyableCode {
  position: relative;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    padding: 0.25em 0.5em;
  }
}

td, th {
 padding-left: 1em;
 padding-right: 1em;
}

footer {
  border-top: unset;
  text-align: center;
}

/* Accessibility: do not animate slide if person prefers reduced motion. */
@media (prefers-reduced-motion) {
  #details-drawer {
    transition: none;
  }
}

#controls {
  grid-area: controls;
  min-width: calc(100% - 2em);
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

#characters-list-and-toggle-details-button {
  display: flex;
  margin-bottom: 1em;
}

#mood {
  margin: 0 auto;
  width: -webkit-fill-available;
  width: -moz-available;
}

label[for='mood'] {
  /* Move label closer to control to enforce grouping. */
  margin-bottom: -0.125em;
  margin-top: 1.25em;
  display: block;
  text-align: center;
}

#characters {
  display: contents;
}

select {
  width: 100%;
}

#mood-labels, #colour {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: -webkit-fill-available;
  width: -moz-available;
}

#colour {
  display: flex;
  column-gap: 1em;
  margin-bottom: 1em;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

input[type='radio'] {
  appearance: none;
  height: 3em;
  border-radius: 1em;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0;
}

#colour div {
  display: flex;
  column-gap: 1em;
  width: -webkit-fill-available;
  width: -moz-available;
}

#toggle-details {
  min-width: 7.25em;
  padding: 0;
  margin-right: 0;
}

/*
  Visually hide an element while keeping it available to screen readers.
  Courtesy: https://www.w3.org/WAI/tutorials/forms/labels/#hiding-the-label-element
*/
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.selectedMood {
  display:none;
}

@media screen and (min-width: 600px) {
  #controls {
    min-width: 600px;
    max-width: 600px;
  }
}

@media screen and (max-width: 388px) {
  #stage {
    overflow: scroll;
  }
  
  #details-drawer {
    margin-top: 0 !important;
  }

  #mood-labels {
    display: none;
  }

  #colour {
    column-gap: 0.5em;
  }

  input[type='radio'] {
    border-radius: 0.25em;
  }

  .selectedMood {
    display: inline;
  }
}
