table {
  table-layout: auto;
}

summary {
  /** Ensure long paths don’t break the layout. */
  word-break: break-all;
}

summary.connected {
  background-color: lightgreen;
}

.eventsTable tr:first-of-type th {
  padding-top: 0;
}

#pages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#requests li {
  margin-bottom: 0.5em;
}

#requests li:nth-of-type(2n) {
  background-color: var(--background-alt)
}

#events > p:first-of-type { margin: 0; }
