/*
  Styles for /🐱/settings/app/ 
*/

dl {
  margin-bottom: 1.5em;
}

dt {
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

dd {
  margin-left: 0;
}

form[name="deploy"] {
  display: flex;
  justify-content: space-between;
}

.smallButton {
  font-size: 0.75em;
  min-width: 4em;
  padding: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 0.25em;
  margin-top: 0.5em;
}

/* Override */
.DevelopmentMode {
  margin-top: inherit;
}
