/* I’m some CSS. */
:root {
  --accent-colour: red;
  --border-width: 2px;
}

div {
  border: var(--border-width) solid var(--accent-colour);
  margin: 1em;
  padding: 1em;
}

/* Show slotted divs with a different colour. */
div > div {
  border-color: lightpink;
}
